body {
	background: #1a1a1a;
	color: #f2f2f2;
	font-family: Helvetica, san-serif;
}

.main {
	max-width: 850px;
	margin: 60px auto 0 auto ;
	margin-bottom: 40px;
	margin-top: 10px;
}

p {
	font-size:19px;
}

ul {
	margin: 0px;
}

li {
	font-size:19px;
	margin: 5px;
}

code {
	font-size: 17px;
	color: #e6e600;
}

a {
	color: #e6e600;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #e6e600;
	background-color: transparent;
	text-decoration: none;
}
